body{
    align-items: center;
}
h1{
    font-size: 40px;
    font-family: Adumu;
    text-align: center;
    margin: 20px;
    height: 60px;
}
.trotos{
    display: grid;
    width: 90%;
    height: 40px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Adumu;
}
.radio {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 12px 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .radio input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    border: #000 solid;
    text-align: center;
  }
  .radio:hover input ~ .checkmark {
    background-color: #eee;
  }
  .radio input:checked ~ .checkmark {
    background-color: #2196F3;
    color: white;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .radio input:checked ~ .checkmark:after {
    display: block;
  }

@font-face {
    font-family: Adumu;
    src: url(../../assets/fonts/Adumu.ttf);
 }
 