<body>
    <app-leaf></app-leaf>
    <div class="input">
        <img src="../../assets/public/lupa.png">
        <input 
            id="animalInput" 
            appOnFocus 
            type="text" 
            [(ngModel)]="guess" 
            placeholder="Insira o nome do animal"
        >
        @if (guess) {
            <div class="searchs">
            @for (search of searchAnimals(guess); track $index) {
                <span
                [textContent]="search.name" 
                class="search"
                [tabindex]="0" 
                (keyup.enter)="guessAnimal(search)" 
                (click)="guessAnimal(search)">
            </span>
            }
            </div>
        }
    </div>
        <div class="game">
            <h1>Numero de tentativas: <a [textContent]="animalGuessed().length"></a></h1>
            <div class="guesses">
                <div class="line" style="height: 20px; margin-bottom: 40px;">
                    <div class="names"> Nome </div>
                    <div class="names">Habitat </div>
                    <div class="names">Filo </div>
                    <div class="names">Estado de conservação </div>
                    <div class="names">Dieta </div>
                    <div class="names">Método de reprodução </div>
                    <div class="names">Classe </div>
                </div>
                @for (try of animalGuessed(); track $index) {
                    <div class="line">
                        <div 
                            class="description" 
                            [class]="try.status.name" 
                            [textContent]="try.name"> Nome </div>
                        <div 
                            class="description" 
                            [class]="try.status.habitat" 
                            [textContent]="try.characteristics.Habitat"> Habitat </div>
                        <div 
                            class="description" 
                            [class]="try.status.filo" 
                            [textContent]="try.characteristics.Filo"> Filo </div>
                        <div 
                            class="description" 
                            [class]="try.status.conservacao" 
                            [textContent]="getCharacteristic(try, 'characteristics.Estado de conservação')"> Estado de conservação </div>
                        <div 
                            class="description" 
                            [class]="try.status.dieta" 
                            [textContent]="try.characteristics.Dieta"> Dieta </div>
                        <div 
                            class="description" 
                            [class]="try.status.reproducao" 
                            [textContent]="getCharacteristic(try, 'characteristics.Método de reprodução')"> Método de reprodução </div>
                        <div 
                            class="description" 
                            [class]="try.status.classe" 
                            [textContent]="try.characteristics.Classe"> Classe </div>
                    </div>
                }
            </div>
        </div>
        @if(win) {
            <span class="ganhou">
                <div>
                    <a>
                        <h1>Você acertou</h1>
                        <h2>O animal era: <a [textContent]="randCharacteristic(animalRand, 'name')"></a></h2>
                    </a>
                    <ul>
                        <li>Habitats: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Habitat')"></a></li>
                        <li>Filo: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Filo')"></a></li>
                        <li>Estado de conservação: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Estado de conservação')"></a></li>
                        <li>Dieta: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Dieta')"></a></li>
                        <li>Método de reprodução: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Método de reprodução')"></a></li>
                        <li>Classe: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Classe')"></a></li>
                    </ul>
                    <button (keyup.enter)="randomAnimal()" (click)="randomAnimal()">Jogar de novo</button>
                </div>
            </span>
        }
        @if(howToPlay) {
            <span class="como">
                <div>
                    <h1>Como Jogar?</h1>
                    @if (tela==1) {
                        <span class="input" style="background-color: #ddd; width: 80%;margin: -20px;justify-self: center;">
                            <img src="../../assets/public/lupa.png"><input id="animalInput" type="text" placeholder="Insira o nome do animal" disabled="true">
                        </span>
                        <p>Insira um nome de um animal e as informações deles serão mostradas ​dentro de quadrados coloridos, dependendo do animal secreto os ​quadrados terão cores diferentes, as informações são:</p>
                            <ul>
                            <li>Habitat</li> <li>Filo</li><li>Estado de conservação</li> <li>Dieta</li> <li>Método de reprodução</li> <li>Classe</li>
                            </ul>
                    }
                    @if (tela==2) {
                            <span>
                                <span class="square certo"></span>
                                <p>Quando o quadrado ​estiver verde significa ​que a informação está ​100% correta</p>
                            </span>
                    }
                    @if (tela==3) {
                            <span>
                                <span class="square meio"></span>
                                <p>Quando o quadrado ​estiver amarelo ​significa que a ​informação não está ​completa</p>
                            </span>
                    }
                    @if (tela==4) {
                            <span>
                                <span class="square errado"></span>
                                <p>Quando o quadrado ​estiver vermelho ​significa que a ​informação está  ​totalmente errada</p>
                            </span>
                    }
                    <button (click)="changeScreen()">continuar</button>
                </div>
            </span>
        }
</body>