body{
    background-image: linear-gradient(to right, hsl(136, 80%, 20%) 0%, #159532 25%, #159532 75%, #0a5b20 100%);
    margin: -8px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa{
    display: grid;
    justify-items: center;
    background-color: white;
    height: 70vh;
    width: 30vw;
    min-width: 300px;
    border-radius: 35px;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
h1{
    padding-top: 50px;
    font-family: Adumu;
    margin: 0;
}
.campos{
    justify-self: center;
    border-radius: 35px;
    border-color: black;
    width: 90%;
    margin: 20px 0;
    border-style: solid;
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
}
.campos * {
    padding-left: 10px;
    font-size: 100%;
    border-radius: 35px;
    font-family: Adumu;
}
label {
    align-self: center;
}
input {
    border-style: none;
    flex-grow: 1;
    width: 30%;
}
.input::placeholder{
    font-size: 100%;
    font-family: Adumu;
    color: black;
    padding-left: 10px;
}
.bogas{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.trotos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Adumu;
}
.bogas *{
    font-size: 125%;
    transition: 0.25s;
    font-family: Adumu;
    background-color: #049b3b;
    width: 30%;
    height: 100%;
    border-radius: 35px;
    border-color: #04742c;
    border-style: solid;
    box-shadow: 0 5px #04742c;
}
.bogas *:hover{
    color: white;
    transition: 0.25s;
    scale: 1.1;
    background-color: #04742c;
    box-shadow: 0 5px #012e11;
}

@font-face {
    font-family: Adumu;
    src: url(../../assets/fonts/Adumu.ttf);
 }
 canvas {display: block; position:absolute;z-index: 1;}