<body>
    <canvas id="myCanvas"></canvas>
    <div class="input">
        <img src="../../assets/public/lupa.png"><input id="animalInput" type="text" [(ngModel)]="guess">
        @if (guess) {
            <div class="searchs">
            @for (search of searchAnimals(guess); track $index) {
                <span [textContent]="search.name" class="search" (click)="guessAnimal(search)"></span>
            }
            </div>
        }
    </div>
        <div class="game">
            <h1>Numero de tentativas: <a [textContent]="animalGuessed.length"></a></h1>
            <div class="guesses">
                @for (try of animalGuessed; track $index) {
                    <div class="line">
                        <div class="description" [class]="verifyCharacteristic(try, 'name')" [textContent]="getCharacteristic(try, 'name')"> Nome </div>
                        <div class="description" [class]="verifyCharacteristic(try, 'characteristics.Habitat')" [textContent]="getCharacteristic(try, 'characteristics.Habitat')"> Habitat </div>
                        <div class="description" [class]="verifyCharacteristic(try, 'characteristics.Filo')" [textContent]="getCharacteristic(try, 'characteristics.Filo')"> Filo </div>
                        <div class="description" [class]="verifyCharacteristic(try, 'characteristics.Estado de conservação')" [textContent]="getCharacteristic(try, 'characteristics.Estado de conservação')"> Estado de conservação </div>
                        <div class="description" [class]="verifyCharacteristic(try, 'characteristics.Dieta')" [textContent]="getCharacteristic(try, 'characteristics.Dieta')"> Dieta </div>
                        <div class="description" [class]="verifyCharacteristic(try, 'characteristics.Método de reprodução')" [textContent]="getCharacteristic(try, 'characteristics.Método de reprodução')"> Método de reprodução </div>
                        <div class="description" [class]="verifyCharacteristic(try, 'characteristics.Classe')" [textContent]="getCharacteristic(try, 'characteristics.Classe')"> Classe </div>
                    </div>
                }
            </div>
        </div>
        @if(win) {
            <span class="ganhou">
                <div>
                    <h1>Você acertou</h1>
                    <h2>O animal era: <a [textContent]="randCharacteristic(animalRand, 'name')"></a></h2>
                    <p>Habitats: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Habitat')"></a></p>
                    <p>Filo: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Filo')"></a></p>
                    <p>Estado de conservação: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Estado de conservação')"></a></p>
                    <p>Dieta: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Dieta')"></a></p>
                    <p>Método de reprodução: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Método de reprodução')"></a></p>
                    <p>Classe: <a [textContent]="randCharacteristic(animalRand, 'characteristics.Classe')"></a></p>
                    <button (click)="reload()">Jogar de novo</button>
                </div>
            </span>
        }
</body>