<body>
    <canvas id="myCanvas"></canvas>
    <input id="animalInput" type="text">
    
    <div class="game">
        <h1>Numero de tentativas: 5</h1>
        <div class="guesses">
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
            <div class="line">
                <div class="img"> foto do animal </div>
                <div class="description"> 1 </div>
                <div class="description"> 2 </div>
                <div class="description"> 3 </div>
                <div class="description"> 4 </div>
                <div class="description"> 5 </div>
                <div class="description"> 6 </div>
            </div>
        </div>
    </div>
</body>