canvas {
    display: block;
    position:absolute;
    z-index: 0;
}
body{
    background-image: linear-gradient(to right, rgb(6, 69, 23) 0%, #0e6a24 25%, #0e6a24 75%, rgb(6, 69, 23) 100%);
    margin: -8px;
    letter-spacing: 1px;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input img{
    margin-left: 5px;
    width: 15px;
    height: 15px;
    align-self: center;
}
.input{
    margin: 5vh;
    width: 40%;
    min-width: 250px;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    display: flex;
    z-index: 2;
    background-color: #fff;
    height: 35px;
    position: relative;
}
.input:focus-within{
    border-color: #000000;
}
#animalInput{
    height: 90%;
    border-radius: 20px;
    border-style: none;
    flex-grow: 1;
    outline: 0;
}
.searchs{
    overflow: auto;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    position:absolute;
    top:35px;
    display: flex;
    flex-direction: column;
}
.search{
    padding: 10px;
    font-size: 20px;
    border-style: none none solid none;
    border-color: rgb(196, 196, 196);
    transition: .2s;
    width: calc(100% - 20px);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.search:hover{
    transition: .2s;
    background-color: rgb(210, 210, 210);
    border-color: rgb(169, 169, 169);
    cursor: pointer;
}
.searchs::-webkit-scrollbar{
    margin-left: -10px;
    width: 10px;
    border-radius: 10px;
    background-color: #aaa;
}
.searchs::-webkit-scrollbar-thumb {
    background: #fff;
    transition: 0.2s;
    border-radius: 10px;
    background-clip: content-box;
    border: 3px solid transparent;
}
h1{
    font-family: Adumu;
    letter-spacing: 2px;
}
.game{
    z-index: 1;
    width: 80%;
    padding: 10px;
    min-width: 300px;
    top: 30px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 20px #737373;
}
.guesses{
    height: 60vh;
    overflow: auto;
}
.guesses::-webkit-scrollbar{
    width: 20px;
    border-radius: 10px;
    background-color: #aaa;
}
.guesses::-webkit-scrollbar-thumb {
    background: #fff;
    transition: 0.2s;
    border-radius: 10px;
    background-clip: content-box;
    border: 3px solid transparent;
}
.line{
    display:grid; 
    align-items: stretch;
    min-height: 100px;
    margin: 10px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.img{
    border-radius: 20px;
    border-style: dashed;
    width:75%;
    height: 0;
    padding-bottom:75%;
    background-color:#b7b7b7;
    text-align: center;
}
.description{
    border-radius: 5px;
    width:80%;
    margin: 5px;
    min-width: 100px;
    padding:5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Adumu;
    font-size: 100%;

}
.certo{
    background-color:#12a93b;
}
.meio{
    background-color: #eaa400;
}
.errado{
    background-color: #dd2b2b;
}
.ganhou{
    width: 100%;
    position:absolute;
    top: 0;
    height: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,40%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ganhou div{
    padding: 10px;
    width: 300px;
    height: 60%;
    min-height: 400px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 20px #737373;
}
.ganhou div h1{
    color: #12a93b;
}
.ganhou div h2{
    font-family: adumu;
}
.ganhou div p{
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ganhou div button{
    color: white;
    background-color:   #1fe14c;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 130px;
    font-size: 20px;
    font-family: adumu;
    padding:5px;
}
@font-face {
    font-family: Adumu;
    src: url(../../assets/fonts/Adumu.ttf);
 }
