<body>
    <canvas id="myCanvas"></canvas>
    <div class="caixa">
        <h1>Log-in</h1>
        <div class="campos">
            <div class="campo">
                <input type="tel" placeholder="13997054308" name="phone" [(ngModel)]="user.phone">
                <label class="label">Email:</label>
            </div><div class="campo">
                <input type="password" placeholder="Senha123!" name="password" [(ngModel)]="user.password">
                <label class="label">Senha:</label>
            </div>
        </div>
        <div class="bogas">
            <button (click)="loadUsers()">Entrar</button>
        </div>
        <div class="aya">
            <a>
                 <p class="nigs">Esqueci minha senha</p>
                 <p class="nigs" routerLink="/signIn">Ainda não tem uma conta? cadastrar!</p>
            </a>
        </div>
    </div>
</body>