<div class="xangas">
  <canvas id="myCanvas"></canvas>
  <section>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
  </section>
  <img src="../../assets/public/palm-tree.gif" class="palm-tree right">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree right up" style="transform: scaleX(-1);">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree right down" style="transform: scaleX(-1);">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree left" style="transform: scaleX(-1);">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree left up">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree left down">
  <div class="logo">
    <img src="../../assets/public/logo.png">
    <img src="../../assets/public/quiz.png" class="label">
  </div>
  <button routerLink="/game" (click)="StartGame()" class="btn">JOGAR!</button>
</div>
<div class="xuncras"></div>