<div class="xangas">
  <section>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
</section>
  <img src="../../assets/public/palm-tree.gif" class="palm-tree right">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree right up" style="transform: scaleX(-1);">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree right down" style="transform: scaleX(-1);">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree left" style="transform: scaleX(-1);">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree left up">
  <img src="../../assets/public/palm-tree.gif" class="palm-tree left down">
  <div class="logo">
    <img src="../../assets/public/logo.png">
    <img src="../../assets/public/quiz.png" class="label">
  </div>
  <button routerLink="/game" (click)="StartGame()" class="btn">JOGAR!</button>
</div>
<div class="xuncras">Mussum Ipsum, cacilds vidis litro abertis.  Copo furadis é disculpa de bebadis, arcu quam euismod magna. Negão é teu passadis, eu sou faxa pretis. Hoje é sexta-feris, dia da maldadis! Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.

Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá. Aenean aliquam molestie leo, vitae iaculis nisl. Interagi no mé, cursus quis, vehicula ac nisi.

Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Leite de capivaris, leite de mula manquis sem cabeça. Ô gente finis, pode baixar uma ampolis que hoje é sexta-feris!

Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Bota 1 metro de cachacis aí pra viagem! Si num tem leite então bota uma pinga aí cumpadi!

Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. A ordem dos tratores não altera o pão duris. Viva Forevis aptent taciti sociosqu ad litora torquent. Ô gente finis, pode baixar uma ampolis que hoje é sexta-feris!

Hoje é sexta-feris, dia da maldadis! Diuretics paradis num copo é motivis de denguis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Viva Forevis aptent taciti sociosqu ad litora torquent.</div>
