div {
    background-color: rgb(209, 215, 219);
    border-radius: 20px;
}

@font-face {
    font-family: Adumu;
    src: url(../../assets/fonts/Adumu.ttf);
 }

section{
    z-index: 2;
    display: absolute;
}